@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #309D67;
    padding: .4em;
    font-family: 'Nunito', sans-serif;
}

.card {
    background: white;
    border-radius: 1em;
    padding: 2.3em;
    text-align: center;
}

svg {
    width: 5em;
}

h1 {
    font-size: 1em;
    font-weight: normal;
}

.card p {
    font-size: .85em;
    color: #474747;
}

a {

    display: inline-block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5em;
    font-size: .8em;
}
.obligation {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
}

/*

    Your fixes below:
    
    Use the following properties and rulesets
    to improve the visual hierarchy of this
    design
    
*/

body {
    padding: 3em;
}

svg {
    width: 10em;
}

h1 {
    background: green;
    padding: 1em 2em;
    width: 14%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.card p {
    font-size: auto;
    line-height: 2em;
    color: darkslategray;
}

a {
    padding: 0.9em 2em;
    background: aquamarine;
    font-size: 1em;
}

